
@{
    ViewBag.Title = "Contato";
    Layout = "~/Views/Shared/_LayoutInnerPage.cshtml";
}

<div class="contact-us-page-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="contact-us-page">
                    <h2>Informações de contato</h2>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                </div>
            </div>
        </div>
        <div class="row contact-box">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="single-contact-box">
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i>Votorantim, SP - Brasil<br /></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="single-contact-box">
                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i>contato@serv-injet.com.br<br /></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="single-contact-box last-child">
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i>  (15) 9772-5959 <br /></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="leave-comments-area">
                    <h4>Deixe uma mensagem</h4>
                    <form>
                        <fieldset>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nome*">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email*">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea cols="40" rows="10" class="textarea form-control" placeholder="Sua Mensagem"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <button class="btn-send" type="submit">Enviar mensagem</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>