@{
    ViewBag.Title = "Início";
}

<div class="slider-area">
    <div class="bend niceties preview-2">
        <div id="ensign-nivoslider" class="slides">
            <img src="~/img/slider/slide1.jpg" alt="" title="#slider-direction-1" />
            <img src="~/img/slider/slide2.jpg" alt="" title="#slider-direction-2" />
            <img src="~/img/slider/slide3.jpg" alt="" title="#slider-direction-3" />
        </div>
        <!-- direction 1 -->
        <div id="slider-direction-1" class="t-cn slider-direction">
            <div class="slider-content t-cn s-tb slider-1">
                <div class="title-container s-tb-c title-compress">
                    <h1 class="title1">Aumente sua produção</h1>
                    <div class="title2">Ne homero prompta constituam provtim omnis porro eu, iusto deserunt incorrupte sea ad. Aliquam compre hensam definitionem eam ea ius facete nominaviId vim laudem nusquamtion. </div>

                </div>
            </div>
        </div>
        <!-- direction 2 -->
        <div id="slider-direction-2" class="slider-direction">
            <div class="slider-content t-cn s-tb slider-2">
                <div class="title-container s-tb-c">
                    <h1 class="title1">Não espere dar problema</h1>
                    <div class="title2">Ne homero prompta constituam provtim omnis porro eu, iusto deserunt incorrupte sea ad. Aliquam compre hensam definitionem eam ea ius facete nominaviId vim laudem nusquamtion. </div>

                </div>
            </div>
        </div>
        <!-- direction 1 -->
        <div id="slider-direction-3" class="t-cn slider-direction">
            <div class="slider-content t-cn s-tb slider-1">
                <div class="title-container s-tb-c title-compress">
                    <h1 class="title1">Faça um orçamento</h1>
                    <div class="title2">Ne homero prompta constituam provtim omnis porro eu, iusto deserunt incorrupte sea ad. Aliquam compre hensam definitionem eam ea ius facete nominaviId vim laudem nusquamtion. </div>
                    <div class="slider-botton">
                        <ul>
                            <li class="acitve">@Html.ActionLink("Contato", "Contato", "Inicio") <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider end-->
<!-- Service section area start here -->
<div class="service-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="single-service">
                    <div class="media">
                        <div class="pull-left">
                            <a href="single-services.html">
                                <span class="flaticon-graph"></span>
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="single-services.html">Assistência Técnica</a></h4>
                            <p>Simply dummy text of the printing andrety esetting industry. Lorem Ipsum has beeyan the indust standard unknown.</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="single-service">
                    <div class="media">
                        <div class="pull-left">
                            <a href="single-services.html">
                                <span class="flaticon-finances"></span>
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="single-services.html">Retrofit</a></h4>
                            <p>Simply dummy text of the printing andrety esetting industry. Lorem Ipsum has beeyan the indust standard unknown.</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="single-service">
                    <div class="media">
                        <div class="pull-left">
                            <a href="single-services.html">
                                <span class="flaticon-presentation"></span>
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="single-services.html">Projetos de blocos hidráulicos</a></h4>
                            <p>Simply dummy text of the printing andrety esetting industry. Lorem Ipsum has beeyan the indust standard unknown.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service section area end here -->
<!-- Home Page About Us area start here -->
<div class="home-about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="about-content-area">
                    <div class="about-content-area">
                        <h2>Sobre a <span>Serv-Injet</span></h2>
                        <p>Fundada e administrada por José Francisco de Arruda, a Serv
                            Injet atua na área de sistemas hidráulicos industriais.
                            É especializada em serviços de  projetos, vendas e assistência
                            técnica em hidráulica e mecânica de máquinas injetoras de plásticos.

                            Com mais de trinta anos de experiência no mercado de hidráulica industrial, a Serv-Injet tem como principal segmento máquinas injetoras de  plásticos e prensas.

                            Por não estar vinculada a nenhum fabricante de equipamentos, a
                            Serv-Injet pode encaminhar a melhor e mais econômica solução para quaisquer problemas de ordem técnica.
                        </p>                        
                        <div class="botton-area">
                            <a href="about.html">Faça um orçamento!  <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="about-featured-image">
                    <a href="about.html"><img src="~/img/about/about.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Home Page About Us area end here -->
<!-- home page core services start here -->
<div class="home-page-core-activities-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="home-activities-area">
                    <h2>Projetos Serv-Injet</h2>
                    <div class="single-activities">
                        <div class="media">
                            <div class="pull-left">
                                <a href="single-services.html">
                                    <span class="flaticon-presentation"></span>
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="single-services.html">Retrofitagem na plastek</a></h4>
                                <p>Simply dummy text of the printing andrety esetting industry. Lorem Ipsum has beeyan the indust standard unknown.</p>
                            </div>
                        </div>
                    </div>
                    <div class="single-activities">
                        <div class="media">
                            <div class="pull-left">
                                <a href="single-services.html">
                                    <span class="flaticon-graph"></span>
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="single-services.html">Nacionalização na Injeplastic</a></h4>
                                <p>Simply dummy text of the printing andrety esetting industry. Lorem Ipsum has beeyan the indust standard unknown.</p>
                            </div>
                        </div>
                    </div>
                    <div class="single-activities">
                        <div class="media">
                            <div class="pull-left">
                                <a href="single-services.html">
                                    <span class="flaticon-piggy-bank"></span>
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="single-services.html">Assistência técnica para Mannesman</a></h4>
                                <p>Simply dummy text of the printing andrety esetting industry. Lorem Ipsum has beeyan the indust standard unknown.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- home page core services end here -->
<!-- Home Page Counter Down start Here -->
<div class="home-counter-down-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="home-counter-down-title">
                    <h2>Nós temos mais de <span>30 anos</span> </h2>
                    <p>de experiência.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="ab-count">
                    <!-- ABOUT-COUNTER-LIST START -->
                    <div class="col-md-4">
                        <div class="about-counter-list">
                            <h1 class="about-counter">100</h1>
                            <p>Clientes</p>
                        </div>
                    </div>
                    <!-- ABOUT-COUNTER-LIST END -->
                    <!-- ABOUT-COUNTER-LIST START -->
                    <div class="col-md-4">
                        <div class="about-counter-list">
                            <h1 class="about-counter">2000</h1>
                            <p>Projetos </p>
                        </div>
                    </div>
                    <!-- ABOUT-COUNTER-LIST END -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Home Page Counter Down end Here -->

