
@{
    ViewBag.Title = "Projetos";
    Layout = "~/Views/Shared/_LayoutInnerPage.cshtml";
}

<div class="our-project-two">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="single-project-two">
                    <div class="project-two-featured-image">
                        <a href="single-project.html"><img src="/img/project/7.jpg" alt=""></a>
                        <div class="overley"></div>
                    </div>
                    <div class="single-project-two-details">
                        <h3><a href="single-project.html">Retrofitagem na plastek</a></h3>
                        <p>Fimply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="single-project-two">
                    <div class="project-two-featured-image">
                        <a href="single-project.html"><img src="/img/project/8.jpg" alt=""></a>
                        <div class="overley"></div>
                    </div>
                    <div class="single-project-two-details">
                        <h3><a href="single-project.html">Nacionalização na Injeplastic</a></h3>
                        <p>Fimply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="single-project-two">
                    <div class="project-two-featured-image">
                        <a href="single-project.html"><img src="/img/project/9.jpg" alt=""></a>
                        <div class="overley"></div>
                    </div>
                    <div class="single-project-two-details">
                        <h3><a href="single-project.html">Assistência técnica para Mannesman</a></h3>
                        <p>Fimply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-top">
                <div class="single-project-two">
                    <div class="project-two-featured-image">
                        <a href="single-project.html"><img src="/img/project/10.jpg" alt=""></a>
                        <div class="overley"></div>
                    </div>
                    <div class="single-project-two-details">
                        <h3><a href="single-project.html">Projetos de blocos hidráulicos para Consul</a></h3>
                        <p>Fimply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-top">
                <div class="single-project-two">
                    <div class="project-two-featured-image">
                        <a href="single-project.html"><img src="/img/project/11.jpg" alt=""></a>
                        <div class="overley"></div>
                    </div>
                    <div class="single-project-two-details">
                        <h3><a href="single-project.html">Retrofitagem para GM</a></h3>
                        <p>Fimply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-top">
                <div class="single-project-two">
                    <div class="project-two-featured-image">
                        <a href="single-project.html"><img src="/img/project/12.jpg" alt=""></a>
                        <div class="overley"></div>
                    </div>
                    <div class="single-project-two-details">
                        <h3><a href="single-project.html">Assistência técnica Sumitomo</a></h3>
                        <p>Fimply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>
