
@{
    ViewBag.Title = "Sobre";
    Layout = "~/Views/Shared/_LayoutInnerPage.cshtml";
}
<div class="inner-page">
    <!-- About Page content area start here -->
    <div class="about-page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <div class="about-title-area">
                        <h2>O que fazemos</h2>
                        <p> Empresa de prestação de serviços e fornecimento de peças para máquinas injetoras de plásticos e prensas.</p>
                    </div>
                </div>
            </div>
            <div class="row feature-image">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center acurate">
                    <div class="about-featured-image">
                        <a href="about.html"><img src="/img/about/about-image.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 acurate">
                    <div class="about-main-content">
                        <h4>Quem somos</h4>
                        <h3>Somos especialistas em hidráulica</h3>
                        <p>
                            Fundada e administrada por José Francisco de Arruda, a Serv
                            Injet atua na área de sistemas hidráulicos industriais.

                            É especializada em serviços de  projetos, vendas e assistência
                            técnica em hidráulica e mecânica de máquinas injetoras de plásticos.

                            Com mais de trinta anos de experiência no mercado de hidráulica industrial, a Serv-Injet tem como principal segmento máquinas injetoras de  plásticos e prensas.

                            Por não estar vinculada a nenhum fabricante de equipamentos, a
                            Serv-Injet pode encaminhar a melhor e mais econômica solução para quaisquer problemas de ordem técnica.

                            <b>Solicite um orçamento!</b>
                        </p>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <!-- About Page content area end here -->
    <!-- Home Page teat start  here -->
    <div class="home-team-area about-page-team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <div class="site-section-area">
                        <h2>Experiência Profissional</h2>
                        <p>Responsável pela assistência técnica da Petersen & Cia Ltda</p>

                        <p>Representante Técnico e Comercial da Mannesman Demag Pic em Manaus.</p>

                        <p>Representante Técnico da Claus Maffei em Manaus.</p>

                        <p>Representante Técnico da Chen Shong no sul/sudeste.</p>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <!-- Home Page teat end  here -->
</div>